include CREDITS
include LICENSE
include hellanzb.py
include hellagrowler.py
include etc/hellanzb.conf.sample
include growlerIcons/JollyRoger.tiff
include growlerIcons/JuandelDiablo.tiff
include growlerIcons/PirateTreasure.tiff
include growlerIcons/RedJimRackam.tiff
include growlerIcons/Scudmore.tiff
include growlerIcons/readme.html
