#banner {
  background: #9c9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}

#banner img {
  float: left;
}

#columns {
  background: transparent;
}

#main {
  margin-left: 13em;
  padding-top: 1ex;
  padding-left: 0em;
  background: white;
}

#hellastatus {
  color: white;
  width: 12em;
}

#hellastatus div.label {
  font: 11px/11px "Arial", sans-serif;
  font-weight: bold;
  float: left;
  margin: 0;
  padding: 0;
}

#hellastatus div.value {
  font: 11px/11px "Arial", sans-serif;
  margin: 0 0 0 8em;
  padding: 0;
}

#hellastatus div.title {
  font: 13px "Arial", sans-serif;
  font-weight: bold;
  border-bottom: 1px solid;
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right: 1em;
  width: 12em;
  background: #141;
  color: #ccc;
  font: smaller sans-serif;
}

#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#nzb {
  border: 1px solid black;
  padding: 0.5em;
  width: 33em;
}

a {
  text-decoration: none;
  font: smaller sans-serif;
}

#side a, #side p {
  color: #ada;
  font: smaller sans-serif;
}

#side input {
  font: smaller sans-serif;
}

#side a:hover {
  color: #fff;
}


.handle {
  cursor: move;
  font-weight: normal;
  padding-left: 6px;
  margin: 0.2em 0 0.2em 0;
}
