<%= update_element_function("enqueue",
        :action => :empty) %>
<%= update_element_function("enqueue",
        :content => "<p>Sent id to hellanzb</p>",
        :action => :update) %>
$('enqueue_form').elements[0].value = '';