# 
# hellanzb.conf - default hellanzb configuration file
# 
# $Id$

# important locations
Hellanzb.PREFIX_DIR = '/ext2/'
Hellanzb.DEST_DIR = Hellanzb.PREFIX_DIR + 'usenet/'
Hellanzb.WORKING_DIR = Hellanzb.PREFIX_DIR + 'nzb/daemon.working/'
Hellanzb.QUEUE_DIR = Hellanzb.PREFIX_DIR + 'nzb/daemon.queue/'
Hellanzb.CURRENT_DIR = Hellanzb.PREFIX_DIR + 'nzb/daemon.current/'
Hellanzb.TEMP_DIR = Hellanzb.PREFIX_DIR + 'nzb/daemon.temp/'

# name of the sub directory within the nzb archive dir to move proccessed files to
Hellanzb.PROCESSED_SUBDIR = 'processed'

Hellanzb.PASSWORDS_DIR = Hellanzb.PREFIX_DIR + 'nzb/daemon.passwords/'

# max files we should decompress at the same time
Hellanzb.MAX_DECOMPRESSION_THREADS = 2

# If any of the following file types are missing from the archive and cannot be repaired,
# continue processing because they're unimportant
Hellanzb.NOT_REQUIRED_FILE_TYPES = [ 'm3u', 'nfo', 'sfv' ]

# Enable grow notifications for 31337 Mac OS x people
Hellanzb.ENABLE_GROWL_NOTIFY = True

# The growl notification server, in the format 'hostname:port'
Hellanzb.SERVER = 'IP:7300'

# Supported music types and optionally their decompression executables. The exes must
# be in the PATH.
#
# <FILE> will be replaced with the name of music file
# optional <DESTFILE> is <FILE> with an extension of '.wav'
#
# None means these files don't need to be decompressed
defineMusicType('ape', 'mac <FILE> <DESTFILE> -d')
defineMusicType('flac', 'flac -d <FILE>')
defineMusicType('wav', None)
defineMusicType('mp3', None)

# for debugging
Hellanzb.DEBUG_MODE = False
