<html>
  <head>
    <title>hellahella</title>
    <%= stylesheet_link_tag "hellahella", :media => "all" %>
    <%= javascript_include_tag "prototype", "effects", "dragdrop", "controls" %>
  </head>
  <body>
    <div id="banner">
      <%= @page_title || "hella hella" %>
    </div>
    <div id="columns">
      <div id="side">
	<% if session[:user_id] -%>    
	<div id="hellastatus">
	  <%= render_component :controller => "live", :action => "status" %>
	  <%= periodically_call_remote(:url => {:controller => "live", :action => "status"},
	                                   :frequency => 4, :update => 'hellastatus') %>
	</div>

	<hr/>

  <%= link_to_unless_current("Status", :controller => "hellanzb", :action => "index") %><br />
  <%= link_to_unless_current("Queue", :controller => "hellanzb", :action => "queue") %><br />
  <%= link_to_unless_current("Bandwidth", :controller => "hellanzb", :action => "bandwidth") %><br />

  <hr/>
  <%= form_remote_tag :url => {:controller => "live", :action => "enqueue_nzb"},
      :complete => evaluate_remote_response,
      :html => {:id=>"enqueue_form"} %> 
    <p>newzbin ID: <%= text_field_tag "newzbinid", nil, :size => 8  %> </p>
    <%= submit_tag "Q ID" %>
    <%= end_form_tag %>
  <div id="enqueue"></div>
  
  <hr/>

	  <%= link_to("Log out", :controller => "login", :action => "logout") %>

  <% end -%>
      </div>

      <div id="main">
        <% if flash[:notice] -%>
          <div id="notice"><%= flash[:notice] %></div>
        <% end -%>

	      <%= @content_for_layout %>
      </div>
    </div>
  </body>
</html>